
p {
  font-size: 22px;
  color: white;
  font-family: Arial;
}

#aboutPar {
  color: darkgrey;
}

h2 {
  font-family: Arial;
  color: rgb(0, 183, 192);
  padding-left: 20px;
  font-style: italic;
}

h4 {
  font-family: Arial;
  color: lightgrey;
  font-size: 26px;
  font-style: italic;
  padding-left: 20%;

}

h3 {
  font-family: Arial;
  padding-left: 55px;
}

h5 {
  text-decoration: none;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  padding-left: 5%;
  color: lightgrey;
}

/* These elements control how the hyperlinks look on the main page */

a { color: darkgrey; text-decoration: none;}
a:visited { text-decoration: none; color:lightgrey; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:lightgrey; }
a:hover, a:active { text-decoration: none; color:lightgrey; }

/* These elements control the header and footer throughout the site */

.navitem {
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  color: white
}

.footitem {
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
  color: lightgrey;
  font-style: italic;
  padding-top: 30px;
  padding-bottom: 10px;
}

.logo {
  font-style: italic;
  font-size: 28px;
  font-family: Arial;
  padding-left: 15%;
  color: teal;
}

/* These links are specific to the main page */
#mainContent {
  display: grid;
  grid-template-columns: 50% 50%;
}
#destList {
/*  border: 5px; */
  width: 95%;
  background-color: teal;
  font-weight: bold;
  font-size: 30px;
  font-family: Helvetica;
  color: darkgrey;
}

#destList a {
  /*border: 1px solid darkgrey; */
  display: block;
  /*border-top: -1px;*/
  height: 50px;
  /*margin-top: 3px;*/
}

#searchBar {
  width: 65%;
  height: 30px;
  padding-left: 60px;

}

#navbar {
  background-color: #41B3BC;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  padding-top: 15px;
  padding-bottom: 40px;
}

#navbar a {
  color: white;
}

#footbar {
  background-color: #41B3BC;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px;
  /*margin-top: -32px;*/
  z-index: -1;
  position: relative;
}

#topDiv {
  width: 100%;
  background-color: #fff;
}

#topDiv p {
  color: lightgrey;
}
#leftContent {
  background-color: teal;
  border: 1px solid darkgrey;
}

#leftContent p {
  padding-left: 5%;
  padding-right: 5%;
}

#rightContent {
  background-color: teal;
  border: 1px solid darkgrey;
}

#tealBack {
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  min-height: 370px;
}
/* Form CSS Below */
